html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Helpers */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* Sidebar */

.sidebar {
  display: block;
  width: 0;
  float: left;
  height: 100%;
  background-color: #ff4d4d;
  color: #ffffff;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.sidebar ul {
  display: block;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 1.0em;
  color: #ffffff;
}

.sidebar ul li a:hover {
  background-color: #ff8080;
}

/* Content wrapper */

.content-wrapper {
  height: 100%;
  overflow: hidden;
  transition: margin-left 0.5s;
}

/* Page content */

.content {
  padding: 1.0em;
  overflow-y: scroll;
  height: 100%;
  box-shadow: 10px 10px 5px #888888;
}

/* Header */

.header {
  background-color: #ff4d4d;
  color: #ffffff;
}

.header menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header menu li a,button {
  float: left;
  display: inline-block;
  padding: 1.0em;
  text-align: center;
  color: inherit;
}

.header menu li a {
  text-decoration: none;
}

.header menu li button {
  border: none;
  outline: none;
  background-color: inherit;
}

.header menu li a:hover {
  background-color: #ff8080;
}

.header menu li button:hover {
  cursor: pointer;
  background-color: #ff8080;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
}
